.navbar-fixed{
	position: relative;
	height: 56px;
}

.navbar-fixed .navbar{
	position: fixed;
	width: 100%;
	transition: background 0.3s;
}

.nav-logo{
	max-height: 2.5rem;
}

.navbar-toggler, .nav-link, .navbar-brand{
	color: rgba(255, 255, 255, 1);
	transition: color 0.3s;
}

.navbar-toggler:hover, .nav-link:hover, .navbar-brand:hover{
	color: rgba(255, 255, 255, 0.8);
}

.navbar.scrolled{
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
}

.navbar.scrolled .navbar-toggler, .navbar.scrolled .nav-link, .navbar.scrolled .navbar-brand{
	color: rgba(120, 20, 245, 0.95);
	transition: color 0.3s;
}

.navbar.scrolled .navbar-toggler:hover, .navbar.scrolled .nav-link:hover, .navbar.scrolled .navbar-brand:hover{
	color: rgba(230, 90, 150, 0.8);
	transition: color 0.3s;
}

.navbar.scrolled .link-clientarea, .text-color{
	background-image: linear-gradient(45deg, violet, brown);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.input-group, .input-group>.form-control, .input-group .btn{
	position: inherit;
}

.header{
	background-image: linear-gradient(45deg, rgba(120, 20, 245, 0.8), rgba(230, 90, 150, 0.8));
}

.btn.btn-primary{
	background-image: linear-gradient(45deg, rgba(120, 20, 245, 0.95), rgba(230, 90, 150, 0.95));
	border: none;
	border-radius: 5px;
}

.btn.btn-primary:hover{
	background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn-primary:focus{
	box-shadow: 0 0 0 0.25rem rgba(210, 100, 100, 0.95);
}

.input-group .btn {
	border-radius: 0px 10px 10px 0px;
}

.icon-lg{
	font-size: 100px;
}

.text-label{
	color: rgba(0, 0, 0, 0.4) !important;
}

.icon-color{
	background-image: linear-gradient(45deg, rgba(120, 20, 245, 0.8), rgba(230, 90, 150, 0.8));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.fs-100{
	font-size: calc(1.375rem + 3vw) !important;
}

.accordion-button:not(.collapsed){
	background: rgba(120, 20, 245, 0.05);
	color: rgba(120, 20, 245, 0.9);
}

.accordion-button{
	position: inherit;
}

.accordion-button.collapsed{
	background: rgba(255, 255, 255, 1);
}

.accordion-button:focus {
    z-index: 3;
    border-color: rgba(120, 20, 245, 0.8);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(120, 20, 245, 0.25);
}

.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(180deg);
}

.icon-github{
	text-decoration: none;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 6px;
    padding-bottom: 1px;
	border-radius: 2px;
	height: 20px;
	width: 20px;
	transition: all 0.3s;
	color: rgba(255, 255, 255, 0.95);
}

.icon-whatsapp{
	text-decoration: none;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 6px;
    padding-bottom: 1px;
	border-radius: 2px;
	height: 20px;
	width: 20px;
	transition: all 0.3s;
	color: rgba(255, 255, 255, 0.95);
}

.icon-mail{
	text-decoration: none;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 6px;
    padding-bottom: 1px;
	border-radius: 2px;
	height: 20px;
	width: 20px;
	transition: all 0.3s;
	color: rgba(255, 255, 255, 0.95);
}

.icon-github:hover{
    color: rgba(90, 90, 90, 1);
}

.icon-whatsapp:hover{
    color: rgba(110, 255, 110, 0.8);
}

.icon-mail:hover{
    color: rgba(255, 40, 40, 0.8);
}

.no-link{
	color: rgba(255, 255, 255, 0.75);
	text-decoration: none;
	transition: color 0.3s;
}

.no-link:hover{
	color: rgba(255, 255, 255, 0.65);
}

.btn-search{
	padding: 0.45rem 0.8rem !important;
}

table{
	background: rgba(0, 0, 0, 0.015);
}

th{
	padding: 1.2rem 0.8rem !important;
	border: none;
	color: rgba(255, 255, 255, 0.9);
	font-weight: 500;
}

thead tr{

	background: linear-gradient(45deg, rgba(120, 20, 245, 0.8), rgba(230, 90, 150, 0.8)) !important;
}

td{
	padding: 1rem 0.8rem !important;
}

.price-label{
	font-size: 3rem !important;
	background-image: linear-gradient(45deg, rgba(75, 245, 205, 0.8), rgba(120, 255, 74, 0.8));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
}

sup{
	font-size: 1.2rem;
	vertical-align: super;
}

sub, sup{
	position: inherit;
}

@media only screen and (max-width: 992px){
	.navbar .navbar-toggler, .navbar .nav-link, .navbar .navbar-brand{
		color: rgba(255, 255, 255, 1);
		transition: color 0.3s;
	}

	.navbar .navbar-toggler:hover, .navbar .nav-link:hover, .navbar .navbar-brand:hover{
		color: rgba(255, 255, 255, 0.85);
		transition: color 0.3s;
	}

	.btn-search{
		padding: 0.417rem 0.8rem !important;
	}
}