RewriteEngine On
RewriteBase /

# Jika file atau folder secara fisik ada di server, akses langsung
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Jika tidak ada, kirim rutenya ke index.php
# Gunakan format ini untuk kompatibilitas tinggi di PHP 8.2
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
