.ck.ck-content
{
	font-size: 1em;
	line-height: 1.6em;
	margin-bottom: 0.8em;
	min-height: 200px;
	padding: 1.5em 2em;
}

.theme-dark .ck.ck-editor__main>.ck-editor__editable
{
	background: transparent;
}

.theme-dark .ck.ck-toolbar, .theme-dark .ck.ck-list, .theme-dark .ck.ck-input-text
{
	background: transparent;
}

.theme-dark .ck.ck-reset_all, .theme-dark .ck.ck-reset_all *
{
	color: white;
}

.theme-dark .ck.ck-button.ck-on, .theme-dark a.ck.ck-button.ck-on
{
	background: rgba(255, 255, 255, 0.35);
}

.theme-dark .ck.ck-button.ck-off:hover, .theme-dark a.ck.ck-button.ck-off:hover
{
	background: rgba(255, 255, 255, 0.35);
}

.theme-dark .ck.ck-dropdown__panel, .theme-dark .ck.ck-balloon-panel,  .theme-dark .ck.ck-labeled-field-view>.ck.ck-labeled-field-view__input-wrapper>.ck.ck-label
{
	background: #1b2434;
}

.theme-dark .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused, .theme-dark .ck.ck-input-text:focus
{
	border-color: #c4c4c4;
	box-shadow: none;
}

.alert p
{
	margin: 0;
}

.hidden-area
{
	position: fixed;
	bottom: 1px;
	right: 1px;
	max-width: 350px;
}
